<template name="messages">
    {{#if isLocation}}
        <section class="error">
            <span><i class="fa fa-exclamation-triangle"></i> To start chating please choose your location in your profile!</span>
        </section>
    {{/if}}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="aside-map-header">{{place}}</div>
                {{> asideMap}}
            </div>
            <div class="col-lg-8">
                <div class="posts">
                    {{#each posts}}
                        <div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
                            <div>
                                {{> avatar user=user
                                    shape="circle"
                                    class="user-avatar"
                                    bgColor="#a7b249"
                                }}
                                <span class="user">{{user.profile.username}}</span>
                                <span class="time"><i class="fa fa-clock-o"></i> {{messageDate createdAt}}</span>
                            </div>
                            <span class="message-content">
                                {{text}}
                            </span>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <section class="formBox">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <form class="form-horizontal">
                        <textarea id="post" class="form-control" rows="5" placeholder="Please type your message here"></textarea>
                        <button type="submit" class="btn btn-success">Say it</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>