html {position: relative; min-height: 100%;}
body {background: #f2f4f8; margin-bottom: 60px;}
body > .container {padding: 60px 15px 0;}
.container .text-muted {margin: 20px 0;}
.main {padding-top: 50px;}
code {font-size: 80%;}

.map-container{width: 100%; height: 600px;}

.planetLocations {
    padding: 10px 0;
    background: #94ff5e;
    text-align: center;
    font-size: 24px;
    color: #314D68;
}

.bs-callout {
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 3px;
    width: 94%;
    background: #fff;
    -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.bs-callout-info {border-left-color: #1b809e;}
.bs-callout:nth-child(2n+1){float: left; margin-right: 10px;}
.bs-callout:nth-child(2n)  {float: right; margin-left: 10px; margin-right: 1%;}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ddd;
}
.footer > .container {padding-right: 15px; padding-left: 15px;}